<ion-header>
  <ion-toolboard>
    <ion-title>
      <div>
      <p>
        MMostrar
      </p>
     </div>
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content  >
  <ion-text>
    tablas
  </ion-text>
  <ion-datatable>
    <tr>
      <ion-row>
      <ion-col>Number</ion-col>
      <ion-col>Creation Date</ion-col>
      <ion-col>Customer</ion-col>
      <ion-col>Salesperson</ion-col>
      <ion-col>Next Activity</ion-col>
      <ion-col>Total</ion-col>
      <ion-col>Status</ion-col>
    </ion-row>
    </tr>
    <tr>
      


    </tr>
  </ion-datatable>

</ion-content>
