<ion-header>
  <ion-toolbar color= "primary">
    <ion-buttons slot="start">
      <ion-menu-button menu= "menuPrincipal"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div>
      <p>
        inicio
      </p>
     </div>
     </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item routerLink= "" routerDirection="root" routerLinkActive="active-item">
    <ion-button> Edit</ion-button>
  </ion-item>
    <ion-item routerLink= "" routerDirection="root" routerLinkActive="active-item">
   <ion-button> Delate</ion-button>
    </ion-item>
</ion-content>
