<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button ></ion-menu-button>
    </ion-buttons>
    <ion-title>homepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">
    <ion-button >Log Out</ion-button>
    <ion-row>
      <ion-col>Id</ion-col>
      <ion-col>Create Date</ion-col>
      <ion-col>Customer</ion-col>
      <ion-col>Amount Untaxed</ion-col>
      <ion-col>Amount Tax</ion-col>
      <ion-col>Total</ion-col>
      <ion-col>State</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
