<ion-header>
  <ion-toolbar>
    <ion-title>homepage</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid class="ion-margin">
    <ion-button (click)="logout()">Log Out</ion-button>
    <ion-row>
      <ion-col>Id</ion-col>
      <ion-col>Create Date</ion-col>
      <ion-col>Customer</ion-col>
      <ion-col>Amount Untaxed</ion-col>
      <ion-col>Amount Tax</ion-col>
      <ion-col>Total</ion-col>
      <ion-col>State</ion-col>
    </ion-row>
    <ion-row *ngFor="let q of quotations">
      <ion-col>{{ q.id }}</ion-col>
      <ion-col>{{ q.createDate }}</ion-col>
      <ion-col>{{ q.name }}</ion-col>
      <ion-col>{{ q.amountUntaxed }}</ion-col>
      <ion-col>{{ q.amountTax }}</ion-col>
      <ion-col>{{ q.amountTotal }}</ion-col>
      <ion-col>{{ q.state }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
