ion-grid {
    --ion-grid-column-padding: 10px;
    border-collapse: collapse;
    border-style: hidden;
    
    ion-row:first-child {
      background-color:  #526396;
      font-weight: bold;
    }
    ion-col {
      border: 0;
      border-bottom: 0;
      border-right: 0;
      border-top: 1px solid #526396;
    }
    
    ion-row:last-child {
      border-bottom: 1px solid #526396;
    }
  }