<ion-content [fullscreen]="true">
  <ion-item class="img-container" lines="none">
    <img src="https://cdn.discordapp.com/attachments/703658666372366497/963217948783312896/IMG-20220411-WA0019.jpg" >
  </ion-item>
  <div id="container">
    <form [formGroup]="loginForm" (submit)="login()">
      <ion-item lines="none">
        <ion-input placeholder="Username" formControlName="username" type="text" required="true"></ion-input>
      </ion-item>
      <ion-item lines="none">
        <ion-input placeholder="Password" formControlName="password" type="password" required="true"></ion-input>
      </ion-item>
      <ion-button expand="full" class="login-btn" type="submit" >Login</ion-button>
      <a>Reset password?</a>
    </form>
  </div>
</ion-content>

